@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply font-sans text-base leading-relaxed;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}


@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 0.5s ease-out forwards;
  }
}

/* index.css */
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.preserve-3d {
  transform-style: preserve-3d;
}
