@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-base leading-relaxed;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}
/* index.css */
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.preserve-3d {
  transform-style: preserve-3d;
}
